/* Navigation Bar */
.nav-logo {
  width: 13rem;
}

a > img {
  display: block;
  width: 100%;
}

.nav-menu {
  display: none;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.nav-link {
  color: var(--color-text);
}
.nav-link:hover {
  color: var(--color-primary);
}

@media screen and (max-width: 1200px) {
  .navbar {
    flex-wrap: wrap;
    height: 100%;
  }
  .nav-logo {
    align-items: start;
  }
  .nav-menu {
    display: inline-flex;
    box-sizing: content-box;
    width: 4rem;
    height: 4.4rem;
    padding-right: 1rem;
    cursor: pointer;
  }
  .navbar-nav {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}
